<div class="container" id="container">
    <div class="row">
        <div class="col-6">
            <b>ABOUT MYFITNESS PRO</b><br/><br/>
                    <p>MyFitness Pro is an application designed to help any person looking to improve their health and daily lifestyle.</p>
                    <p>Using the built in Fitness Tracker, a user can log their daily workout routines and track their progression over time.</p>
                    <p>To use the Fitness Tracker, simply click on one of the preset workouts in the left menu.  A prompt will appear asking to log the time of the workout, and then the exercise will be added to the routine list for the day.  It's that easy!</p>
                    <p>Additionally, you can live chat with others and share your routines for new ideas!</p>
        </div>
    </div>
    
</div>