
<div class="container" id="container">
    <script src="../../assets/moment-with-locales.min.js"></script>
    <script src="../../assets/FeedEk.js"></script>
    <div class="row">
        <div class="col-md-9">
            <b>LATEST HEALTH NEWS</b>
            <div id="feedControl">Loading...</div>
                        
        </div>
        <div class="col-md-3">
            
        </div>   
        <div class="row">
        <div id="footer-placeholder"></div>
    </div>             
</div>